<div class="main">
  <% @results.each do |r| %>
    <% r.results.work.each do |book| %>
      <div class="book">
        <a href="#"><%= image_tag(book.best_book.small_image_url) %></a>
        <div class="book_info">
          <p><%= link_to book.best_book.title, book_info_path(query: "#{book.best_book.id}"), remote: true, id: "book_id" %></p>
          <p>Author: <%= link_to "#{book.best_book.author.name}", get_author_path(query: "#{book.best_book.author.name}") %></p>
          <p>Average rating: <%= book.average_rating %></p>
          <p>published: <%= book.original_publication_year %></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="btn-group">
    <%= button_to "prev", search_path(page: "#{params[:page].to_i - 1}", query: @query_param), :disabled => (!params[:page] || params[:page].to_i <= 1 ), class: "btn btn-primary" %>
    <%= button_to "next", search_path(page: "#{!params[:page] ? params[:page].to_i + 2 : params[:page].to_i + 1}", query: @query_param),
      disabled: (@results[0].results_end.to_i == @results[0].total_results.to_i), class: "btn btn-primary" %>
  </div>
</div>
