<div class="main">
  <div class="wrap col-xs-8 col-xs-offset-2">
    <div class="box">
      <%= form_for :books, url: search_path, class: "search" do |f| %>
        <div class="form-group">
          <%= f.text_field :query, placeholder: "Type a book title...", autofocus: true, class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
