body {
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 0 0;
}
.main {
  width: 80%;
  margin: 50px auto;
}

#books_query {
  background: #44475a;
  border-color: #ff79c6;
  color: #ff79c6;
}

.column1 {
  width: 33%;
  padding-left: 40px;
}

.column2 {
  width: 13%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
  margin-bottom: 10px;
  color: #2b2b2b;
}

.book {
  padding-bottom: 10px;
}

img {
  height: 100px;
  float: left;
  padding-right: 10px;
}

.book_info {
  padding-left: 10px;
}

p {
  margin-bottom: 0 !important;
}
